
[ ca ]
default_ca = CA_default

[ CA_default ]
dir = {{ openvpn_key_dir }}
certs = $dir/
new_certs_dir = $dir/
database = $dir/index.txt
crlnumber = $dir/crl_number
certificate = $dir/ca.crt
private_key = $dir/ca-key.pem
default_days = 3650
default_crl_days = 30
default_md = sha256
preserve = no

[ crl_ext ]
authorityKeyIdentifier=keyid:always,issuer:always
