# {{ ansible_managed }}

port {{openvpn_port}}
proto {{openvpn_proto}}
dev tun

ca {{openvpn_key_dir}}/ca.crt
cert {{openvpn_key_dir}}/server.crt
key {{openvpn_key_dir}}/server.key
dh {{openvpn_key_dir}}/dh.pem
crl-verify {{openvpn_key_dir}}/ca-crl.pem
tls-auth {{openvpn_key_dir}}/ta.key 0
tls-server
auth SHA256
cipher AES-256-CBC
{# Using Mozilla's modern cipher list + DHE for older clients #}
tls-version-min 1.2
tls-cipher TLS-ECDHE-ECDSA-WITH-AES-256-GCM-SHA384:TLS-ECDHE-RSA-WITH-AES-256-GCM-SHA384:TLS-DHE-RSA-WITH-AES-256-GCM-SHA384:TLS-ECDHE-ECDSA-WITH-AES-256-CBC-SHA384:TLS-ECDHE-RSA-WITH-AES-256-CBC-SHA384:TLS-DHE-RSA-WITH-AES-256-CBC-SHA256

server {{openvpn_server_network.split('/')[0]}} {{openvpn_server_netmask}}
topology subnet
ifconfig-pool-persist ipp.txt

{% if openvpn_redirect_gateway|bool %}
push "redirect-gateway def1 bypass-dhcp"
{% endif %}
{% if openvpn_set_dns is defined %}
{% for dns in openvpn_dns_servers %}
push "dhcp-option DNS {{dns}}"
{% endfor %}
{% endif %}
{% if openvpn_push is defined %}
{% for push in openvpn_push %}
push "{{push}}"
{% endfor %}
{% endif %}
keepalive 5 30
comp-lzo
persist-key
persist-tun
user nobody
group nobody

status openvpn-status.log
status-version 1
log-append /var/log/openvpn.log
verb 3

{% if openvpn_verify_cn|bool %}
verify-x509-name OpenVPN-Client-{{inventory_hostname[:24]}} name-prefix
remote-cert-tls client
{% endif %}
duplicate-cn
